<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span>Producto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span>Nombre del producto</span></dt>
        <dd>
          <span>{{ product.nameProduct }}</span>
        </dd>
        <dt><span>Imagen del producto</span></dt>
        <dd>
          <span><img src="https://cdn-icons-png.flaticon.com/512/1554/1554591.png" alt="producto"
                     width="256" height="256"></span>
        </dd>
        <dt><span>Descripción del producto</span></dt>
        <dd>
          <span>{{ product.descriptionProduct }}</span>
        </dd>
        <dt><span>Precio del producto</span></dt>
        <dd>
          <span>{{ product.productPrice }}</span>
        </dd>
        <dt><span>Cantidad de productos</span></dt>
        <dd>
          <span>{{ product.productAumount }}</span>
        </dd>
        <dt><span>Venta</span></dt>
        <dd>
          <div *ngIf="product.sale">
            <a [routerLink]="['/sale', product.sale.id, 'view']">{{ product.sale.codeProduct }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
