<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sale">
      <h2 data-cy="saleDetailsHeading"><span>Sale</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sale.id }}</span>
        </dd>
        <dt><span>Code Product</span></dt>
        <dd>
          <span>{{ sale.codeProduct }}</span>
        </dd>
        <dt><span>Name Product</span></dt>
        <dd>
          <span>{{ sale.nameProduct }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ sale.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="sale.customer">
            <a [routerLink]="['/customer', sale.customer.id, 'view']">{{ sale.customer.documentNumber }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
